.center-slide#center
    .single-item
    
  
        a.sl
            img(src="img/slide.png")
  
        a.sl
            img(src="img/slide.png")
  
        a.sl
            img(src="img/slide.png")

