footer
    .content
    
        .f__block-one
            .f__block-one_copy
                p © “ООО «ДомБытХим» — крупнейший производитель бытовой химии. <br> All rights reserve
                
        .f__block-two
            .f__block-two_adr
                p Республика Адыгея, Тахтамукайский район, п. Яблоновский <br> ул. Ленина, 39а    Единый телефон: <a href="tel:88612001492">8(861) 200-14-92</a> <br> Электронный адрес: <a href="mailto:info@dbxim.ru">info@dbxim.ru</a>
        .it-grade
            a Создано командой Айти Грэйд <i></i>
            
        
