header
    .content
        .logo-block
            img(src="img/logo.jpg")
            
        .h__info-block
            p Республика Адыгея, Тахтамукайский район, п. Яблоновский, ул. Ленина, 39а Телефон: (861) 200-14-92    E-mail: info@dbxim.ru
            a.h_button заказать звонок
            .h__inp-txt
                input(placeholder="Поиск")
                a.search-in
                    i
                    
        .h__login-p
            .middle
                .h__login-p__links-block
                    a.h__login-p_log-in Вход для дилеров <i class="login"></i>
                    a.h__login-p_log-in Регистрация <i class="login man"></i>
            
    