nav
    .content
        ul.nav__nav-block
        
            li
                a О КомпаниИ 
                       
            li
                a Фото и Видео 
                       
            li
                a Где купить 
                       
            li
                a Private lable 
                       
            li
                a Вопрос-ответ
                       
            li
                a Контакты
                