.wrap
    float(100%)
    
    

    
//.home-abs
//    abs(block,100%,100%,0px,0px)
//    v = 100%
//    height "calc(%s + 70px)" % v !important
//    background: url(../img/home.jpg) no-repeat;
//    bgP(top,center,cover) 
//    overflow hidden;
    
    
//.inner 
//    abs(block,100%,auto,100%,0px)
//    min-height 500px;
    
    
article,
footer,
header,
section,
nav
    float-w(100%)
    
    
.fakebg
    position: absolute;
    display: block;
    width: 100%;
    v = 100%
    height "calc(%s + 70px)" % v !important
    background: url(../img/fakebg.png);
    z-index 99
.phbg
    position absolute
    display block
    width 100%
    height 100%
    background #000
    opacity .6
    top 0px
    left 0px
    
    
h1
    float-w(100%)
    display block
    font-size 28px
    text-align left
    font-family fonttxt
    font-weight 400
    line-height 46px
    margin-bottom 10px

     
h2
    float-w(100%)
    display block
    font-size 24px
    font-family fonttxt
    font-weight 300
     
h3
    float-w(100%)
    display block
    font-size 20px
    font-family fonttxt
    font-weight 300

h4
    font-size 24px
    color coltxt
    text-align left
    font-weight 300

    

  
.content
    position relative
    display block
    margin 0 auto
    max-width WRAPPER_WIDTH
    min-width 300px
    clearfix()
    
    @media screen and (min-width: 950px) and (max-width: 1249px)
        float left
        width 100%
        padding 25px
    
    
article
    float-w(100%)
    display inline-block
    
    a
        color colfirm
        m-speed(.3s)
        &:hover
            color colfirm2
    p
        font-size fontSize
        margin 20px 0
        line-height: 1.5;
        font-size 15px
        float-w(100%)
    
        
        
        
    
// video

//video
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    min-width: 100%;
//    min-height: 100%;
//    width: auto;
//    height: auto;
//    z-index: -100;
//    transform: translateX(-50%) translateY(-50%); 
//    background-size: cover;
//    transition: 1s opacity;
//    z-index 98
    

  
  
  
  //button-block & button
  
.button-block
    float-w(100%)
    margin-top 40px
    
    .button
        display inline-block
        font-family fontB2
        padding 13px 45px
        background colfirm
        color #fff
        text-transform uppercase
        font-size 14px
        border-radius 45px
        border solid 1px colfirm
        m-speed(0.3s)
        font-weight 700
        
    .button:hover 
        border solid 1px #fff
        background transparent

        
        
        
        
// link-block-phone

.block__phone
    float right
    display inline-block
    
    span
        display inline-block
        font-size 18px
        color #fff
        m-speed(.3s)
        white-space nowrap
        
        .bold 
            font-weight 700
            display inline
            
        
    i
        display inline-block
        width 10px
        height 14px
        bgP(center,center,contain)
        background url(../img/phone.png)
        position relative
        top 2px
        margin-right 12px
        
.block__phone:hover
    span
        color #4aa0e0
        
        
    
.baner
    float-w(100%)
    display block
        img
            display block
            width 100%
            height auto

        
    
  

// header  
@import "section/header.styl"
    
// nav  
@import "section/nav-block.styl"
       
// content-wrap  
@import "section/content-wrap.styl"
           
// content-wrap  
@import "blocks/left-panel.styl"
           
// content-wrap  
@import "blocks/content-panel.styl"
    
               
// content-wrap  
@import "blocks/center-slide.styl"
                   
// content-wrap  
@import "blocks/brands.styl"
                     
// content-wrap  
@import "blocks/tovar-sliders.styl"
                       
// content-wrap  
@import "blocks/news-block.styl"
    
// content-wrap  
@import "section/footer.styl"
      
// content-wrap  
@import "blocks/paginator.styl"
        
// content-wrap  
@import "blocks/filtr.styl"
           
// content-wrap  
@import "blocks/cat-nav.styl"
              
// content-wrap  
@import "blocks/catalog-plitka.styl"
                
// content-wrap  
@import "blocks/tovar-popup.styl"
                    
// content-wrap  
@import "blocks/tech-table.styl"
                      
// content-wrap  
@import "blocks/catalog-line.styl"
    
        
        
.slick-arrow
    position absolute !important
    size(50px,50px)
    display block
    bgP(center,center,contain)
    background-color #bbbbbf
    background-image url(IMG_SRC/stick.svg)
    top 50%
    margin-top -25px
    left 0px
    z-index 99999
    &:hover
        background-color #bbbbbf - 20%
           
.slick-next
    position absolute !important
    size(50px,50px)
    display block
    bgP(center,center,contain)
    background-color #bbbbbf
    background-image url(IMG_SRC/stick.svg)
    top 50%
    margin-top -25px
    left auto
    right 0px
    pov(180deg) 
          
    
    
    
    
            
.new
    .torar-sliders_tag
        color #306ebd
                        
.hit
    .torar-sliders_tag
        color #3d9919
                                   
.sale
    .torar-sliders_tag
        color colfirm2
                                              
.spec
    .torar-sliders_tag
        color #e86d00
             
    
.inp-button-block
    float-w(100%)
    display block
    input[type="submit"]
        border-style: solid;
        border-width: 1px;
        border-color: rgb(169, 169, 169);
        border-radius: 3px;
        background-image: -moz-linear-gradient( 90deg, rgb(203,202,202) 0%, rgb(253,253,253) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(203,202,202) 0%, rgb(253,253,253) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(203,202,202) 0%, rgb(253,253,253) 100%);
        font-size 14px
        line-height 35px
        padding 0 30px
        
    input[type="submit"]:disabled
        border-style: solid;
        border-width: 1px;
        border-color: rgb(173, 173, 173);
        color: #676666;
        border-radius: 3px;
        background-image: -moz-linear-gradient( 90deg, rgb(195,193,193) 0%, rgb(213,212,212) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(195,193,193) 0%, rgb(213,212,212) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(195,193,193) 0%, rgb(213,212,212) 100%);
        margin-left 20px



    
    
    
    
   