extends temp
block content
    include blocks/paginator.jade
    h1 Для кухни
    
    a.baner
        img(src="img/baner.png")
        
    include blocks/filtr.jade
    include blocks/cat-nav.jade
    include blocks/catalog-line.jade
    
    
        
