doctype html

html(lang="ru")
    head
        include include/head.jade
    body
        .wrap
            include include/header.jade
            include include/nav-block.jade
            include include/content-wrap.jade
            include include/footer.jade
            
                
                        

                        
        
            
                            
                            
                            