doctype html

html(lang="ru")
    head
        include include/head.jade
    body
        .wrap
            include include/header.jade
            include include/nav-block.jade

            section.content-wrap
                .content
                    
            include include/footer.jade