doctype html

html(lang="ru")
    head
        include include/head.jade
    body
        .wrap
            include include/header.jade
            include include/nav-block.jade

            section.content-wrap
                .content
                    include blocks/left-panel.jade
                    .content-panel
                        block content
                    
                    
                    
                    
            //-include blocks/tovar-popup.jade
            include include/footer.jade