.content-wrap
    position relative
    background url(IMG_SRC/bg.jpg)
    min-height 500px

    
    .content
        padding 30px 0
        
    @media screen and (min-width: 300px) and (max-width: 949px)
        padding 30px 25px
    
    