footer
    position relative
    background #2165b5
    height 160px
    padding 35px
    @media screen and (max-width: 1249px)
        height auto
        padding-bottom 0px
    
    .content
        height 100%
        
    .it-grade
        float right
        width 320px
        height 100%
        
        @media screen and (min-width: 950px) and (max-width: 1249px)
            height auto
            width 50%
            padding 25px 0
            float left
             
        @media screen and (min-width: 300px) and (max-width: 949px)
            height auto
            width 100%
            padding 25px 0
            float left
        
        a
            display inline-block
            color #94bff6
            white-space nowrap
            float right
            display inline-block
            font-size 15px
            
            @media screen and (min-width: 950px) and (max-width: 1249px)
                float left
                        
            @media screen and (min-width: 300px) and (max-width: 949px)
                float left
            
        i
            display inline-block
            size(25px,25px)
            bgP(center,center,contain)
            background url(IMG_SRC/it.svg)
            position relative
            top 7px
            
            margin-left 25px
    
    .f__block-one
        float-w(350px)
        display inline-block
        border-right solid 1px #94bff6
        height: 100%;
        
        @media screen and (min-width: 950px) and (max-width: 1249px)
            height 165px
            width 50%
            padding 0
                
        @media screen and (min-width: 300px) and (max-width: 949px)
            height auto
            width 100%
            padding 0
            padding-bottom 25px
        
        &_copy
            float-w(100%)
            padding-right 40px
            
            line-height 24px
        
            p
                color #94bff6
                font-size 15px
                
    .f__block-two
        float-w(580px)
        border-right solid 1px #94bff6
        height: 100%;
        
        @media screen and (min-width: 950px) and (max-width: 1249px)
            height 165px
            width 50%
            padding 0
        
        @media screen and (min-width: 300px) and (max-width: 949px)
            height autopx
            width 100%
            padding 0

         
        &_adr
            float-w(100%)
            padding 0 65px
            line-height 24px
            @media screen and (min-width: 300px) and (max-width: 949px)
                padding 0
                padding-bottom 25px
        
            p
                color #94bff6
                font-size 15px
                
                a
                    color #94bff6
                    
                
            
        