nav
    background colfirm
    height 72px
    
.nav
    &__nav-block
        float left
        width 100%
        height 72px
        padding 32px 0 22px
        margin-left -15px
        
        li
            float left
            display inline-block
            padding 0 15px
            border-right solid 1px #577cc8
            
        li:last-child
            border solid 0px
            
        a
            display block
            color #fff
            font-family fontB
            font-weight 700
            font-size 17px
            m-speed(.2s)
            text-transform uppercase
            &:hover
                color colfirm2