.top-news
    position relative
    float-w(100%)
    
    .top-news__wrap
        float-w(100%)
        background-color #000
        border-left solid 120px #fff
        border-right solid 120px #fff
        min-height 500px
        bgP(top,center,cover)
        z-index 9
        
        .content
            background #fff
            height 100%
            margin-top  250px
            min-height 700px