.brands
    h2 Наши бренды
    
    .brands__slider-pack
        .brands__slider
    
            a.br1
                img(src="img/brand.jpg")
                .menu1
    
            a
                img(src="img/brand.jpg")
    
            a
                img(src="img/brand.jpg")
    
            a
                img(src="img/brand.jpg")
    
            a
                img(src="img/brand.jpg")
    
            a
                img(src="img/brand.jpg")
    
            a
                img(src="img/brand.jpg")
    
            a
                img(src="img/brand.jpg")
    
            a
                img(src="img/brand.jpg")
    
            a
                img(src="img/brand.jpg")
    
            a
                img(src="img/brand.jpg")
    
            a
                img(src="img/brand.jpg")

            