.cat-nav
    .cat-nav__paginator
        a.styck(href="#") <
        a.active(href="#") 1
        a(href="#") 2
        a(href="#") 3
        a(href="#") ...
        a.styck(href="#") >
        
    .cat-nav__cat-row
        .middle
            .filtr_l-title вид товара:
            a.cat-nav_liner
            a.cat-nav_block._block_active
