.catalog-plitka

    a.catalog-plitka__item
        .catalog-plitka__img-block
            img(src="img/bliz.jpg") 
        .catalog-plitka__tag-block   
        .torar-sliders_titl Блиц гель для удаления пригаров
        .catalog-plitka_weight 240г
        .catalog-plitka_firma
            img(src="img/crot.png")
        
       
    a.catalog-plitka__item
        .catalog-plitka__img-block
            img(src="img/bliz.jpg") 
        .catalog-plitka__tag-block   
        .torar-sliders_titl Блиц гель для удаления пригаров
        .catalog-plitka_weight 240г
        .catalog-plitka_firma
            img(src="img/crot.png")
        
       
    a.catalog-plitka__item
        .catalog-plitka__img-block
            img(src="img/bliz.jpg") 
        .catalog-plitka__tag-block   
        .torar-sliders_titl Блиц гель для удаления пригаров
        .catalog-plitka_weight 240г
        .catalog-plitka_firma
            img(src="img/crot.png")
        
       
    a.catalog-plitka__item
        .catalog-plitka__img-block
            img(src="img/bliz.jpg") 
        .catalog-plitka__tag-block   
        .torar-sliders_titl Блиц гель для удаления пригаров
        .catalog-plitka_weight 240г
        .catalog-plitka_firma
            img(src="img/crot.png")
        
       
    a.catalog-plitka__item
        .catalog-plitka__img-block
            img(src="img/bliz.jpg") 
        .catalog-plitka__tag-block   
        .torar-sliders_titl Блиц гель для удаления пригаров
        .catalog-plitka_weight 240г
        .catalog-plitka_firma
            img(src="img/crot.png")
        
       
    a.catalog-plitka__item
        .catalog-plitka__img-block
            img(src="img/bliz.jpg") 
        .catalog-plitka__tag-block   
        .torar-sliders_titl Блиц гель для удаления пригаров
        .catalog-plitka_weight 240г
        .catalog-plitka_firma
            img(src="img/crot.png")
        
       
    a.catalog-plitka__item
        .catalog-plitka__img-block
            img(src="img/bliz.jpg") 
        .catalog-plitka__tag-block   
        .torar-sliders_titl Блиц гель для удаления пригаров
        .catalog-plitka_weight 240г
        .catalog-plitka_firma
            img(src="img/crot.png")
        
       
    a.catalog-plitka__item
        .catalog-plitka__img-block
            img(src="img/bliz.jpg") 
        .catalog-plitka__tag-block   
        .torar-sliders_titl Блиц гель для удаления пригаров
        .catalog-plitka_weight 240г
        .catalog-plitka_firma
            img(src="img/crot.png")
        
       
    a.catalog-plitka__item
        .catalog-plitka__img-block
            img(src="img/bliz.jpg") 
        .catalog-plitka__tag-block   
        .torar-sliders_titl Блиц гель для удаления пригаров
        .catalog-plitka_weight 240г
        .catalog-plitka_firma
            img(src="img/crot.png")
        
        
