.catalog-line
    .catalog-line__item
        .catalog-line__item-body
            .catalog-line__img-block
                img(src="img/bliz.jpg")
            article
                h3 SANTEX КРОТ для труб
                p Мощное средство для устранения засоров в трубах. Совершенная формула средства позволяет эффективно устранять даже самые стойкие засоры. Дезинфицирует, устраняет неприятные запахи. Подходит для всех видов труб, в том числе пластиковых. С легкостью устраняет пищевые отложения, коллагеновые засоры (волосы, ногти, рыбья чешуя).
            include tech-table.jade
