.center-slide#center
    .single-item
    
  
        a.sl
            img(src="img/slide.png")
            .center-slide__info
                .center-slide__info__titl-block
                    .center-slide__info_titl новая новинка 
                    h3 Средства для мытья пола без хлора
                    p Идеально чистит и дезинфицирует. Надежно защищает вашу семью от бактерий
  
        a.sl
            img(src="img/slide.png")
            .center-slide__info
                .center-slide__info__titl-block
                    .center-slide__info_titl новая новинка 
                    h3 Средства для мытья пола без хлора
                    p Идеально чистит и дезинфицирует. Надежно защищает вашу семью от бактерий
  
        a.sl
            img(src="img/slide.png")
            .center-slide__info
                .center-slide__info__titl-block
                    .center-slide__info_titl новая новинка 
                    h3 Средства для мытья пола без хлора
                    p Идеально чистит и дезинфицирует. Надежно защищает вашу семью от бактерий
  
        a.sl
            img(src="img/slide.png")
            .center-slide__info
                .center-slide__info__titl-block
                    .center-slide__info_titl новая новинка 
                    h3 Средства для мытья пола без хлора
                    p Идеально чистит и дезинфицирует. Надежно защищает вашу семью от бактерий
  
        a.sl
            img(src="img/slide.png")
            .center-slide__info
                .center-slide__info__titl-block
                    .center-slide__info_titl новая новинка 
                    h3 Средства для мытья пола без хлора
                    p Идеально чистит и дезинфицирует. Надежно защищает вашу семью от бактерий
