.filtr
    .filtr__l-chekbox
        .filtr_l-title Бренды:
        
        .filtr__l-item
            .filtr_l-check
            .filtr_l-item-titl Blitz
                    
        .filtr__l-item.active
            .filtr_l-check
            .filtr_l-item-titl Крот
                    
        .filtr__l-item
            .filtr_l-check
            .filtr_l-item-titl Nega
                    
        .filtr__l-item
            .filtr_l-check
            .filtr_l-item-titl Santex
                    
        .filtr__l-item
            .filtr_l-check
            .filtr_l-item-titl Прогресс
            
            
    .filtr__l-chekbox.l2
            
        .filtr__l-item.new
            .filtr_l-check
            .torar-sliders_tag новинка
                 
        .filtr__l-item.hit
            .filtr_l-check
            .torar-sliders_tag новинка
                 
        .filtr__l-item.sale
            .filtr_l-check
            .torar-sliders_tag новинка
                 
        .filtr__l-item.spec
            .filtr_l-check
            .torar-sliders_tag новинка
            
    .inp-button-block
        input(type="submit" value="Применить фильтр")
        input(type="submit" value="Сбросить" disabled)
                    
    
        
            
            
            