.left-panel
    .left-panel__cat-menu
       .left-panel__cat-menu_titl Каталог продукции 
       
       ul.left-panel__cat-menu__menu-body
       
            li.active
                a 
                    span Средства для стирки
                    
                .sub-menu
                    a 
                        span Гели
                    a 
                        span Крема
                    a 
                        span Спреи
               
            li.active
                a 
                    span Средства для дома
                    
                    
                .sub-menu
                    a 
                        span Гели
                    a 
                        span Крема
                    a 
                        span Спреи
               
               
            li
                a 
                    span Средства для кухни
               
            li
                a 
                    span Средства для труб
               
            li
                a 
                    span Средства для туалета
               
            li
                a 
                    span Средства для ванной
               
            li
                a 
                    span Парфюмерно-косметическая продукция
               
            li
                a 
                    span Профессиональная серия
               
            li
                a 
                    span Средства для стирки
                    
        a.download-b
            .download-b_ico
            span Скачать каталог
            

    .left-panel__cat-menu.__shares
       .left-panel__cat-menu_titl.blue Каталог продукции 
       
       .left-panel__cat-menu__shares-body
       
        .left-panel__cat-menu__shares-body__item
            .left-panel__cat-menu__shares-body__item_titl Для сантехники
            img(src="img/tov.jpg")
            .left-panel__cat-menu__shares-body__item_desc Скидка на средства для сантехники 30%
                   
        .left-panel__cat-menu__shares-body__item
            .left-panel__cat-menu__shares-body__item_titl Для сантехники
            img(src="img/tov.jpg")
            .left-panel__cat-menu__shares-body__item_desc Скидка на средства для сантехники 30%
                   
        .left-panel__cat-menu__shares-body__item
            .left-panel__cat-menu__shares-body__item_titl Для сантехники
            img(src="img/tov.jpg")
            .left-panel__cat-menu__shares-body__item_desc Скидка на средства для сантехники 30%
            
       
