.news-block


    .news-block__item
        h3 Новости
            a Все новости
            
        article
            .news-block_img-block
                img(src="img/news.jpg")
                
            .news-block__info
                .news-block_date 22.01.2017
                p На нашем предприятии прошел мастер-класс “Чистый дом”. Наши сотрудники представили новую линию чистящих средств для...
                a(href="#") подробнее
                        
        article
            .news-block_img-block
                img(src="img/news.jpg")
                
            .news-block__info
                .news-block_date 22.01.2017
                p На нашем предприятии прошел мастер-класс “Чистый дом”. Наши сотрудники представили новую линию чистящих средств для...
                a(href="#") подробнее
    

    .news-block__item
        h3 Полезные советы
            a Все советы
            
        article
            .news-block_img-block
                img(src="img/news.jpg")
                
            .news-block__info
                .news-block_date 22.01.2017
                p На нашем предприятии прошел мастер-класс “Чистый дом”. Наши сотрудники представили новую линию чистящих средств для...
                a(href="#") подробнее
                        
        article
            .news-block_img-block
                img(src="img/news.jpg")
                
            .news-block__info
                .news-block_date 22.01.2017
                p На нашем предприятии прошел мастер-класс “Чистый дом”. Наши сотрудники представили новую линию чистящих средств для...
                a(href="#") подробнее
    