.tovar-popup
    .phbg
    .tovar-popup__tabs
        .middle
            .tovar-popup__box
                .tovar-popup__box-body
                    .tovar-popup__img-block
                        .middle
                            img(src="img/bliz.jpg")
                            
                    article.tovar-popup__tovar-info
                        h2 Santex
                        p Универсальное концентрированное моющее средство «Прогресс» и «Прогресс Московский» Используется для мытья и обезжиривания кухонной посуды в быту и на предприятиях общественного питания. Обладает высокой моющей способностью. Расщепляет жиры даже в холодной воде любой жесткости. Быстро смывается с посуды, не требуя больших количеств воды для ополаскивания. Не сушит и не раздражает кожу рук. По моющей способности средство «Прогресс» находится на уровне лучших аналогов.
                        
                    .tovar-popup__firma
                        img(src="img/crot.png")
                        
                    include tech-table.jade
                        
                a.tovar-popup__close#tovar-popup-close
                    span
                    
                
                        
                            
                    
                