.torar-sliders
    .torar-sliders__button-panel
    
        a#tab1.torar-sliders_button Новинки
        a#tab2.torar-sliders_button Хиты продаж
        a#tab3.torar-sliders_button Товары со скидкой
        a#tab4.torar-sliders_button Спецпредложения
        
        
     .torar-sliders__sliderblock
        .sl-t1
        
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
              
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
              
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
              
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
              
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
              
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
              
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
              
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
              
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
              
            a.sl.tovar.new
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag новинка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
        
            a.sl.tovar.spec
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Специальное предложение
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                           
            a.sl.tovar.sale
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Скидка
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                                             
            a.sl.tovar.hit
                img(src="img/bliz.jpg")
                
                .txt-block
                    .torar-sliders_tag Хит продаж
                               
                .txt-block
                    .torar-sliders_titl Blitz для туалета <br> Двойной Эффект
                    
