.about
    float-w(100%)
    display block
    padding 38px 50px
    border solid 1px #dddddd
    min-height 500px
    background #fff
    
    article
        p:first-child
            margin-top 0px
            
    .tech-table
        margin 20px 0
            
            
    
    .catalog-plitka_weight
        text-align left
    
    .torar-sliders_tag
        width 100%
        text-align center
    
    .tech-table__column-one
        width 190px
    
    .tech-table__column-two
        width 160px
    
    .tech-table__column-three
        width 150px
        border-right solid 0px
    
    .tech-table__column-four
        width 115px
        
    .tech-table__column-five
        width 61px
        
    .tech-table__line span
        font-size 12px

