.brands
    float-w(100%)
    padding 40px 5px 0
    position relative
    @media screen and (min-width: 950px) and (max-width: 1249px)
        padding 0px
    
    .slick-arrow
        left -5px
        margin-top: 11px;
    .slick-next
        right -5px
        left auto
        
    
    a 
        outline none
        position relative
        
        .menu
            position absolute
            display none
            width 100%
            height auto
            min-height 250px
            background #f1f1f3
            bottom 0px
            left 0px
        

        
        
        
        
        
        
    
    h2
        color coltxt
        margin-bottom 26px
        text-align center
        
    .slick-dots
        display none !important
        
    &__slider-pack
        border-bottom solid 20px #306ebd
        float-w(100%)
        margin 0 5px
        overflow hidden
        
        
    
    &__slider
        background #f2f2f4
        float-w(100%)
        padding-left 65px
        padding-right 50px
        border-top solid 1px #d1d1d1
        border-left solid 1px #d1d1d1
        border-top-left-radius  86px
        overflow hidden

        
    .slick-track
            border-top-left-radius  86px
            overflow hidden
        
    .slick-initialized 
        .slick-slide 
            padding 5px

    