.catalog-line
    float-w(100%)
    background #fff
    border solid 1px #dddddd
    min-height 500px
    
    .catalog-plitka_weight
        text-align left
    
    .torar-sliders_tag
        width 100%
        text-align center
    
    .tech-table__column-one
        width 190px
    
    .tech-table__column-two
        width 160px
    
    .tech-table__column-three
        width 150px
        border-right solid 0px
    
    .tech-table__column-four
        width 115px
        
    .tech-table__column-five
        width 61px
        
    .tech-table__line span
        font-size 12px

    
    &__item
        float-w(100%)
        display block
        padding 0 30px
        position relative
        @media screen and (min-width: 300px) and (max-width: 949px)
            padding 0
        
        
    &__item-body
        padding 0 20px 20px
        float-w(100%)
        display block
        border-bottom solid 1px #dddddd
        @media screen and (min-width: 300px) and (max-width: 949px)
            border-bottom solid 0px #dddddd
        
    &__img-block
        float-w(160px)
        padding-top 38px
        min-height 185px
        overflow hidden
        @media screen and (min-width: 300px) and (max-width: 599px)
            width 100%
    
        
        img
            width 100%
            height auto
            position relative
            margin 0 auto
            display block
            float left
            
    &__firma
        position absolute
        display block
        top 16px
        right 29px
        width 110px
        
        @media screen and (min-width: 300px) and (max-width: 599px)
            top: 10px;
            right: 6px;
            width: 60px;
        
        img
            width 100%
            height auto
            
            
    article
        float left
        width 100%
        padding-top 35px
        width 640px
        padding-left 30px
        
        @media screen and (min-width: 300px) and (max-width: 1100px)
            padding-left 0
            width 100%
            
            
            
 @media screen and (min-width: 300px) and (max-width: 1100px)    
            
            
    .catalog-line
        float-w(100%)
        background #fff
        border solid 1px #dddddd
        min-height none
    
        .catalog-plitka_weight
            text-align left
    
        .torar-sliders_tag
            width 100%
            text-align center
    
        .tech-table__column-one
            width 100%
            border solid 1px borderC
    
        .tech-table__column-two
            width 100%
            border solid 1px borderC
    
        .tech-table__column-three
            width 100%
            border solid 1px borderC
    
        .tech-table__column-four
            width 100%
            border solid 1px borderC
        
        .tech-table__column-five
            width 100%
            border solid 1px borderC
        
        .tech-table__line span
            font-size 100%

 

            
            
            
            
            
            
        