.catalog-plitka
    float-w(100%)

    
    &__item
        column(1/3, $cycle: 3)
        background #fff
        border solid 1px #dddddd
        min-height 300px
        max-width 290px
        display inline-block
        margin-bottom 3%
        position relative
        
        @media screen and (min-width: 600px) and (max-width: 949px)
            column(1/2, $cycle: 2)
            margin-bottom 3%
            max-width none
        
        @media screen and (min-width: 300px) and (max-width: 599px)
            float left
            width 100%
            max-width 100%
            margin-bottom 25px

        .torar-sliders_titl
            text-align center
            font-size 18px
            float left
            width 100%
            
        
    &_firma
        position absolute
        display block
        top 8px
        right 8px
        max-width 60px
        img
            max-width 60px
            height auto
        
        
    &__img-block
        float-w(100%)
        height 178px
        display block
        text-align center
        padding 25px 0 20px
        img
            width auto
            height 100%
            display inline-block
            
    &__tag-block
        float left
        height 23px
        
    &_weight
        color #666666
        float-w(100%)
        font-size 15px
        text-align center
        margin-top 10px
            