.content-panel
    float-w(960px)
    padding-left 30px
    min-height 500px
    
    @media screen and (min-width: 950px) and (max-width: 1249px)
        width 70%    
    @media screen and (min-width: 300px) and (max-width: 949px)
        width 100%
        padding-left 0px