borderC = #d3d2d2

.tech-table
    float-w(100%)
    display block
    border solid 1px borderC
    border-bottom 0px
    
    
    &__column-one
        float left
        display inline-block
        width 160px
        border-right solid 2px borderC
            
    &__column-one:last-child
        border-right solid 0px
            
    &__column-two
        float left
        display inline-block
        width 85px
        border-right solid 2px borderC
                   
    &__column-three
        float left
        display inline-block
        width 120px
        border-right solid 2px borderC
        
                       
    &__column-four
        float left
        display inline-block
        width 69px
        border-right solid 2px borderC
        
                           
    &__column-five
        float left
        display inline-block
        width 39px
        border-right solid 2px borderC
        
    
        
    &__line
        float-w(100%)
        display table
        min-height 26px
        border-bottom solid 1px borderC
        text-align center
        span 
            display table-cell
            vertical-align middle
            color #666666
            font-size 10px
            padding 3px
            
        
    &__line:first-child
        min-height 34px
        background #e0dfdf
        span
            text-align center
            
            
    &__lin-min
        float left
        width 100%
        height 16px
        display table
        min-height 13px
        span
            padding 0px
        
    &__lin-min:first-child
        border-bottom solid 1px borderC
        
    &__lin-min-1-3
        width 33.3333333%
        float left
        text-align center
        border-right solid 1px borderC
        display table
        span
            padding 0px
            height: 16px;
            
    .line-1-3
        height 25px
            
    &__lin-min-1-3:last-child
        border-right 0px
            
        
        
        